<div class="message-container" data-message-id="message-<%= message.id %>" data-user-id="<%= current_user.id %>">
  <i class="author">
    <span><%= message.user.username %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p><%= message.content %></p>
</div>




