<div class="container">
  <% if @tickets.count > 0 %>
    <h2 class="text-center mt-5 mb-3">Mes réservations</h2>
    <% @tickets.each do |ticket| %>
      <div class="card-show-streamer card-border">
        <%= cl_image_tag ticket.creek.photo.key, class: "stream-resa border-radius-left" %>
        <div class="card-body">
          <h5 class="card-title"><%= ticket.creek.title %></h5>
          <p class="card-text"><%= DateTime.iso8601(ticket.creek.scheduledStartTime).strftime('%A %d %b %Y %I:%M %p') %></p>
          <p class="card-text-description"><%= ticket.creek.description %></p>
        </div>
        <div class="card-right p-3">
          <% if !ticket.creek.capacity.nil? %>
            <p class="card-text"><%= ticket.creek.capacity - ticket.creek.tickets.count %> places restantes</p>
          <% end %>
          <%= link_to "Voir", creek_path(ticket.creek), class: "btn btn-primary" %>
          <%= link_to "Supprimer",
                      ticket_path(ticket),
                      method: :delete,
                      data: { confirm: "Are you sure?" },
                      class:"btn btn-danger mr-2" %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="container text-center">
      <h3 class="mt-5">Vous n'avez pas encore de réservations, cliquez <%= link_to "ici", pages_path %> pour découvrir nos streamers.</h3>
      <iframe src="https://giphy.com/embed/le0xDZ7kpMtYQ" width="480" height="270" frameBorder="0" class="giphy" allowFullScreen></iframe>
    </div>
  <% end %>
</div>
