
<!-- Présentation Streamer -->

<div class="jumbotron jumbotron-fluid jumbotron-bg-img" style="background-image: url('<%= cl_image_path(@banner,crop: :fill, secure: true) %>'); background-size: cover; background-position: center;">
  <div class="container">
    <h1 class="display-4 ombre-text"><%= @user.username %></h1>
    <div class="d-flex bg-white border-radius-all position-relative">
       <%= cl_image_tag @user.photo.key, class: "streamer-profil border-radius-left", secure: true %>
        <% if @user.description.nil? %>
          <p>Une super description</p>
        <% else %>
          <p class="row align-self-center text-left px-5"><%= @user.description %></p>
        <% end %>
        <% if @user == current_user %>
          <%= link_to edit_user_registration_path do  %>
          <i class="fas fa-user-cog float-right icon"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- Cards des Streams -->

<div class="container mb-5">
  <% if @user.creeks.count > 0 %>
    <h2>Futurs streams de <%= @user.username %></h2>
    <div class="cards-streamer my-5">
      <% @user.creeks.each do |creek| %>
      <%= render "shared/card-creek", creek: creek %>
      <% end %>
    </div>
  <% end %>

 <!-- Programmer un stream -->

  <% if @user == current_user %>
    <%= render "users/my-bookings" %>
    <div class="padding my-5">
      <div class="d-flex justify-content-center">
        <div class="col-lg-5 text-center" id="form">
          <h2>Nouveau stream</h2>
          <%= render "users/form-creek"%>
        </div>
      </div>
    </div>
  </div>
    <div class="hr-half-width my-5"><hr></div>

  <!-- A placer à la fin de la page (pub pour les streamers) -->
  <!-- Welcome Section -->

  <div class="container-fluid padding my-5">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4">Streamez facilement.</h1>
      </div>
      <hr>
      <div class="col-12">
        <p class="lead">Bienvenue sur Creeks, un lieu où vous pouvez streamer gratuitement, sans restriction et être payé pour ça !</p>
      </div>
    </div>
  </div>

  <!-- Three Column Section -->

  <div class="container-fluid padding mb-5">
    <div class="row text-center padding">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fab"></i>
        <%= image_tag "live.svg", class: "picto"%>
        <h3>LIVE</h3>
        <p>pour l'authenticité</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fab"></i>
        <%= image_tag "money.svg", class: "picto"%>
        <h3>STRIPE</h3>
        <p>pour être payé facilement</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <i class="fab"></i>
        <%= image_tag "france.svg", class: "picto"%>
        <h3>FRENCH</h3>
        <p>parce qu'on sait coder</p>
      </div>
    </div>
  </div>
<% end %>



