<!-- Présentation Streamer -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">STREAMER NAME</h1>
    <div class="d-flex">
      <%= image_tag "superman.jpg", class: "streamer-img"%>
      <p class="row align-self-center text-center ml-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
  </div>
</div>

<!-- Cards des Streams -->

<div class="container cards-streamer">
  <div class="card-streamer">
    <%=image_tag "man.jpg", class: "stream-resa"%>
    <div class="card-body">
      <h5 class="card-title">Titre Stream 1</h5>
      <p class="card-text">Date du stream</p>
      <p class="card-text-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt vero eum, fuga natus, maxime consequuntur repudiandae vitae temporibus, dolorem doloremque ad. Iusto natus laudantium alias sequi, omnis magni, quod ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt vero eum, fuga natus, maxime consequuntur repudiandae vitae temporibus, dolorem doloremque ad. Iusto natus laudantium alias sequi, omnis magni, quod ipsa!</p>
    </div>
    <div class="card-right p-3">
      <p class="card-text"><strong>20€</strong></p>
      <p class="card-text">xx places restantes</p>
      <a href="#" class="btn btn-primary">Réserver</a>
    </div>
  </div>
  <br>
  <div class="card-streamer">
    <%=image_tag "man.jpg", class: "stream-resa"%>
    <div class="card-body">
      <h5 class="card-title">Titre Stream 2</h5>
      <p class="card-text">Date du stream</p>
      <p class="card-text-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt vero eum, fuga natus, maxime consequuntur repudiandae vitae temporibus, dolorem doloremque ad. Iusto natus laudantium alias sequi, omnis magni, quod ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt vero eum, fuga natus, maxime consequuntur repudiandae vitae temporibus, dolorem doloremque ad. Iusto natus laudantium alias sequi, omnis magni, quod ipsa!</p>
    </div>
    <div class="card-right p-3">
      <p class="card-text"><strong>20€</strong></p>
      <p class="card-text">xx places restantes</p>
      <a href="#" class="btn btn-primary">Réserver</a>
    </div>
  </div>
  <br>
  <div class="card-streamer">
    <%=image_tag "man.jpg", class: "stream-resa"%>
    <div class="card-body">
      <h5 class="card-title">Titre Stream 3</h5>
      <p class="card-text">Date du stream</p>
      <p class="card-text-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt vero eum, fuga natus, maxime consequuntur repudiandae vitae temporibus, dolorem doloremque ad. Iusto natus laudantium alias sequi, omnis magni, quod ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt vero eum, fuga natus, maxime consequuntur repudiandae vitae temporibus, dolorem doloremque ad. Iusto natus laudantium alias sequi, omnis magni, quod ipsa!</p>
    </div>
    <div class="card-right p-3">
      <p class="card-text"><strong>20€</strong></p>
      <p class="card-text">xx places restantes</p>
      <a href="#" class="btn btn-primary">Réserver</a>
    </div>
  </div>
</div>
<hr class="my-4">

<!-- Programmer un stream -->

<div class="container padding">
  <div class="row padding">
    <div class="col-lg-5">
      <h2>NEW CREEK</h2>
      <%= render "form-creek"%>
    </div>
  </div>
</div>
<hr class="my-4">

<!-- A placer à la fin de la page (pub pour les streamers) -->
<!-- Welcome Section -->

<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">Stream with ease.</h1>
    </div>
    <hr>
    <div class="col-12">
      <p class="lead">Welcome to Creek, where you can stream freely without restriction and be paid for it!</p>
    </div>
  </div>
</div>

<!-- Three Column Section -->

<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fab"></i>
      <%= image_tag "live.svg", class: "picto"%>
      <h3>LIVE</h3>
      <p>for authenticity</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fab"></i>
      <%= image_tag "money.svg", class: "picto"%>
      <h3>STRIPE</h3>
      <p>to be paid easily</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <i class="fab"></i>
      <%= image_tag "france.svg", class: "picto"%>
      <h3>FRENCH</h3>
      <p>parce qu'on sait coder</p>
    </div>
  </div>
  <hr class="my-4">
</div>

<!-- Two Column Section -->

<div class="container padding">
  <div class="row padding">
    <div class="col-lg-6">
      <h2>If you stream it...</h2>
      <p><strong>Our philosophy</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <br>
      <a class="btn btn-primary" href="#">Learn More</a>
    </div>
    <div class="col-lg-6">
      <%= image_tag "start.jpg", class: "illu"%>
    </div>
  </div>
</div>




