<div class="fix-nf">
  <% if @user.viewer? %>
  <% else %>
    <%= render "show-streamer" %>
    <% if @user == current_user && current_user.streamer? %>
      <a href=<%= @link_to_google_auth %>>Account Settings</a>
      <% if !@user.stream_name.nil? %>
        <%= @user.stream_name %>
      <% end %>
    <% end %>
  <% end %>
  <div class="container">
    <h2>Mes réservations</h2>
    <% @tickets.each do |ticket| %>
    <div class="card-streamer">
    <%= cl_image_tag ticket.creek.photo.key, class: "stream-resa" %>
      <div class="card-body">
        <h5 class="card-title"><%= ticket.creek.title %></h5>
        <p class="card-text"><%= ticket.creek.scheduledStartTime.to_date.strftime('%A %d %b %Y %I:%M %p') %></p>
        <p class="card-text-description"><%= ticket.creek.description %></p>
      </div>
      <div class="card-right p-3">
        <p class="card-text"><%= ticket.creek.capacity - ticket.creek.tickets.count %> places restantes</p>
        <%= link_to "Voir", creek_path(ticket.creek), class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
</div>


