<!-- CARD STREAMER SHOW -->

<div class="card-streamer card-border">
<%= cl_image_tag creek.photo.key, class: "stream-resa border-radius-left" %>
  <div class="card-body">
    <h5 class="card-title"><%= creek.title %></h5>
    <p class="card-text"><%= DateTime.iso8601(creek.scheduledStartTime).strftime('%A %d %b %Y %I:%M %p') %></p>
    <p class="card-text-description"><%= creek.description %></p>
  </div>
  <div class="card-right p-3">
    <p class="card-text"><strong><%= creek.price %>€</strong></p>
    <h5 class="text-right"><%= creek.category.name %></h5>
    <% if !creek.capacity.nil? %>
      <p class="card-text"><%= creek.capacity - creek.tickets.count %> places restantes</p>
    <% end %>
    <%= link_to "Réserver", creek_path(creek), class: "btn btn-primary" %>
  </div>
</div>
