<div class="navbar sticky-top navbar-expand-sm navbar-light navbar-lewagon row">
  <div class="col-6 d-flex align-items-center">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "noun_creek_22411.svg" %>
      <h2 class="ml-3">creeks.app</h2>
    <% end %>
    <ul class="nav">
      <li class="nav-item">
        <%= link_to "Catégories", categories_path, class:"nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Streamers", pages_path(:streamers => 1), class:"nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "L'équipe", team_path, class:"nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", new_contact_path, class:"nav-link"  %>
      </li>
    </ul>
  </div>

  <div class="col-6 d-flex justify-content-end">
    <ul class="nav mr-4">
      <li class="nav-item">
        <%= form_tag pages_path, method: :get, class: "aa-input-container", id: 'aa-input-container' do |f| %>
          <%= text_field_tag :query,
            params[:query],
            id: "aa-search-input",
            class: "form-control form-text my-1 col-sm-12 aa-input-search",
            placeholder: "Rechercher"
             %>
          <%= image_submit_tag "search.png", class: "aa-input-icon" %>
        <% end %>
      </li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, height:40, width:40 %>
            <% else %>
              <%= image_tag "avatar.png", alt: "alttext", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, height:40, width:40  %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <% if current_user.streamer? %>
                <%= link_to "Mon profil", user_path(current_user), class: "dropdown-item"  %>
                <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              <% else %>
                <%= link_to "Mes réservations", user_path(current_user), class: "dropdown-item"  %>
                <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "S'enregistrer", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
