<div class="container mb-5 mt-5">
  <h1 class="text-center">Streamers du moments</h1>
  <div class="card-deck margin-h">
    <% @streamers.first(3).each do |streamer| %>
        <div class="card card-border">
          <%= image_tag streamer.photo, class: "card-img-top img-fluid hw-pic" %>
        <div class="card-body">
          <h5 class="card-title">Rejoignez <%= streamer.username %></h5>
          <p class="card-text"><%= streamer.description %></p>
        </div>
        <div class="text-center mb-2">
          <%= link_to "Voir", user_path(streamer), class: "btn btn-primary w-50"  %>
        </div>
        <div class="card-footer">
          <small class="text-muted">Dernière Vidéo : <%= DateTime.iso8601(streamer.creeks.last.scheduledStartTime).strftime('%A %d %b %Y') %></small>
        </div>
      </div>
    <% end %>
  </div>
</div>
