<!-- Include AlgoliaSearch JS Client and autocomplete.js library -->
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@3/dist/algoliasearchLite.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>


<header class="header-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path("img projet/nathan-anderson-8X1-pcDF8l0-unsplash_ngougb",crop: :fill) %>');">
<!--     <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://res.cloudinary.com/dvwipbafx/video/upload/c_crop,h_700,q_100,w_1440,x_0,y_556/v1593437027/Pexels_Videos_1467290_1_biwgwp.mp4" type="video/mp4">
    </video> -->
  <div class="container h-100 brand-h1">
    <div class="d-flex h-100 text-left align-items-center">
      <div class="w-100 text-white ">
        <h1 class="type">Creeks.app</h1>
        <p class="lead"><span id="banner-typed-text"></span></p>
      </div>
    </div>
  </div>
</header>


<!-- <div id="header" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)), url('<%= cl_image_path "https://res.cloudinary.com/dvwipbafx/image/upload/v1593424782/banner-creek_fovod7.png", height: 300, width: 400, crop: :fill %>');">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="brand-h1">Creeks.app</h1>
        <p>
          <span id="banner-typed-text"></span>
        </p>
      </div>
    </div>
  </div>
</div> -->

<%= render "futurs-streams" %>

<div class="hr-half-width"><hr></div>

<%= render "streamer-du-moment" %>

<div class="hr-half-width"><hr></div>

<div class="row justify-content-center margin-h col-12">
   <h1>Streamers : notre philosophie</h1>
</div>
<div class="margin-div background-visuel container">
  <div class="row px-5">
    <div class="col-12 col-lg-6 text-justify">
      <%= cl_image_tag("img%20projet/stream/young-woman-chatting-via-laptop-in-kitchen-4049988_wnolzo_xsju2x", height: 400, crop: :fill) %>
    </div>
    <div class="col-12 col-lg-6">
      <h1 class="color-primary margin-h"><strong>Lancez votre studio en ligne et diffusez en direct vos cours et entraînements...</strong></h1>
      <br>
      <h2> Rejoignez notre communauté de streamers et intéragissez avec vos fans dans le monde entier !</h2>
    </div>
  </div>
</div>

<div class="hr-half-width"><hr></div>

<div class="row margin-div background-visuel container">
  <div class="d-flex justify-content-between align-items-center">

      <div class="col-12 col-lg-6 text-justify" style="padding-left: 70px">
      <h1 class="color-primary ">Nous vous accompagnons au quotidien pour vous aider à développer votre activité</h1>
      <p>Chez <strong>CreeksApp</strong>, nous faisons toujours tout pour simplifier les rencontres entre streamers et viewers.</p>
      <p>
        Nous nous efforçons de créer un endroit où
        chacun et chacune, dans le monde entier,
        peut être soi-même et partager
        de bons moments en se connectant sur notre plateforme.
        Rejoignez notre communauté.
        <br>
        Rien ne vaut l’énergie d’un cours en live bien préparé.
        Optez pour un cours de yoga, une séance de
        fitness, des conseils Mode & Beauté,  et bien d’autres disciplines avec tous vos professeurs favoris.
      </p>
      </div>

      <div class="col-11 col-lg-6" style="margin: 30px">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">

            <div class="carousel-item active">
              <%= cl_image_tag("img%20projet/stream/young-woman-chatting-via-laptop-in-kitchen-4049988_wnolzo_xsju2x", height: 400, width:600, crop: :fill) %></div>
            <div class="carousel-item">
              <%= cl_image_tag("img%20projet/digital%20marketting/apple-devices-books-business-coffee-572056_dhgx7y.jpg", height: 400, width:600, crop: :fill) %></div>

            <div class="carousel-item">
              <%= cl_image_tag("img%20projet/food/young-man-grilling-meat-in-camp-4311067_gcxbmo.jpg", height: 400, width:600, crop: :fill) %></div>

            <div class="carousel-item">
              <%= cl_image_tag("img%20projet/travel/woman-looking-at-the-map-3935702_nq3wgs.jpg", height: 400, width:600, crop: :fill) %></div>

            <div class="carousel-item">
              <%= cl_image_tag("img%20projet/Photography/man-taking-picture-of-person-s-left-arm-1391786_c8nura.jpg", height: 400, width:600, crop: :fill) %></div>

          </div>

      </div>
    </div>
  </div>
</div>



