<div class="fix-nf">
  <h1 class="text-center">Résultats pour "<%= params[:query] %>"</h1>
  <% if @users&.count == 1 %>
    <div class="fix-nf">
      <div class="container">
        <div class="card-product">
            <%= cl_image_tag @users.first.photo.key, class: "card-img-top img-fluid hw-pic" %>
            <div class="card-product-infos">
              <h2><%= @users.first.username %></h2>
              <p><%= @users.first.description %></p>
              <%= link_to "Profil", user_path(@users.first), class: "btn btn-primary mt-2" %>
            </div>
        </div>
      </div>
    <% @users.first.creeks.each do |creek| %>
      <div class="container cards-streamer mt-3">
        <div class="card-streamer-index">
            <%= cl_image_tag creek.photo.key, class: "stream-resa"%>
            <div class="card-body">
              <h5 class="card-title"><%= creek.title %></h5>
              <p class="card-text"><%= creek.scheduledStartTime.to_date.strftime('%A %d %b %Y %I:%M %p') %></p>
              <p class="card-text-description"><%= creek.description %></p>
            </div>
            <div class="card-right p-3">
              <p class="card-text"><strong><%= creek.price %>€</strong></p>
              <% if !creek.capacity.nil? %>
                <p class="card-text"><%= creek.capacity - creek.tickets.count %> places restantes</p>
              <% end %>
              <%= link_to "Reserver", creek_path(creek), class: "btn btn-primary" %>
            </div>
        </div>
        <br>
        <br>
      </div>
    <% end %>
    </div>
  <% elsif @creeks&.count == 1%>
    <%  @creeks.each do |creek| %>
       <div class="container cards-streamer mt-3">
        <div class="card-streamer-index">
            <%=image_tag "man.jpg", class: "stream-resa"%>
            <div class="card-body">
              <h5 class="card-title"><%= creek.title %></h5>
              <p class="card-text"><%= creek.scheduledStartTime.to_date.strftime('%A %d %b %Y %I:%M %p') %></p>
              <p class="card-text-description"><%= creek.description %></p>
            </div>
            <div class="card-right p-3">
              <p class="card-text"><strong><%= creek.price %>€</strong></p>
              <% if !creek.capacity.nil? %>
                <p class="card-text"><%= creek.capacity - creek.tickets.count %> places restantes</p>
              <% end %>              <%= link_to "Reserver", creek_path(creek), class: "btn btn-primary" %>
            </div>
        </div>
        <br>
        <br>
      </div>
    <% end %>
  <% elsif @users&.count > 1 %>

  <p>bravo</p>
  <% else %>
    <div class="container text-center">
      <h3 class="mt-5">Nous n'avons pas trouvé ce que vous recherchez</h3>
    </div>
  <% end %>
</div>




