<div class="fix-nf pb-5">
  <% if params[:streamers] == 1 && !@users.empty? %>
    <h1 class="text-center mt-5 mb-3">Tous nos streamers</h1>
  <% else %>
    <h1 class="text-center my-5">Resultats <%= params[:query] %></h1>
  <% end %>
  <% if @users&.count == 1 %>
    <%= render "shared/card-streamer", user: @users.first %>
    <% @users.first.creeks.each do |creek| %>
      <%= render "shared/card-creek", creek: creek %>
    <% end %>
  <% elsif @creeks&.count == 1%>
    <% @creeks.each do |creek| %>
      <%= render "shared/card-creek", creek: creek %>
    <% end %>
  <% elsif @users&.count > 1 %>
    <div class="container">
      <% @users.each do |user| %>
        <%= render "shared/card-streamer", user: user %>
      <% end %>
    </div>
  <% else %>
    <div class="container text-center">
      <h3 class="my-5">Nous n'avons pas trouvé de résultat correspondant à votre recherche...</h3>
      <iframe src="https://giphy.com/embed/g01ZnwAUvutuK8GIQn" width="480" height="270" frameBorder="0" class="giphy" allowFullScreen></iframe>
    </div>
  <% end %>
</div>




