<div class="pl-5 fix-nf registration-body">
  <div class="row contact-title">
    <h1>Toute l'équipe de Creek.app est à votre écoute..</h1>
  </div>
  <div class="row py-5">
      <div class="col-12 col-lg-6 contact-left">
          <%= simple_form_for(@contact) do |f| %>
            <%= f.input :prenom, placeholder: "Marcel" %>
            <%= f.input :nom, placeholder: "Creeks" %>
            <%= f.input :email, placeholder: "marcel@creeks.com" %>
            <%= f.input :telephone, placeholder: "06 12 34 56 78" %>
            <%= f.input :message, placeholder: "Veuillez écrire l'objet de votre message ici.." %>
            <%= f.button :submit, "Envoyez", class:"btn btn-primary" %>
          <% end %>
      </div>
    <div class="col-12 col-lg-6 contact-right">
      <%= cl_image_tag "https://res.cloudinary.com/domm9vey9/image/upload/v1593594083/noun_creek_white_vd6sio.svg", height: 270, crop: :fill %>
      <h3 class="contact-title">N'hésitez pas à nous laisser un message..</h3>
      <h3 class="contact-title">Nous serons toujours là pour vous !</h3>
    </div>
  </div>
</div>
