<div class="fix-nf registration-body">
  <div class="row">
    <div class="col-md-10">
      <div class="row bloc margin-div">
        <div class="register-left col-12 col-md-5">
          <%= image_tag("logo-white.png", id:'logo-move') %>
          <h2>Rejoignez-nous</h2>
          <p>Rejoignez notre communauté de streamers et intéragissez avec des passionnés dans le monde entier..</p>
          <button type="button" class="btn btn-primary">About us</button>
        </div>
        <div class="register-right col-12 col-md-7">
          <h2>Se connecter</h2>
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-inputs col-12">
                  <%= f.input :email,
                              required: false,
                              autofocus: true,
                              input_html: { autocomplete: "email" } %>
                  <%= f.input :password,
                              required: false,
                              input_html: { autocomplete: "current-password" } %>
                  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                </div>
                <div class="form-actions btn btn-primary col-12">
                  <%= f.button :submit, "Log in"%>
                </div>
              <% end %>
              <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
