<div class="fix-nf container">
  <% if @users.include?(current_user) || @creek.user == current_user %>
    <%= render "player" %>
  <% else %>
    <div id="header" class="banner-creek rounded-25px d-flex align-items-center justify-content-around" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @creek.photo.key, height: 300, width: 400, crop: :fill %>');">
      <div class="text-center">
        <% if @remain_capacity > 0 %>
          <%= link_to "Acheter", creek_tickets_path(@creek), method: :post, class: "btn btn-primary" %>
          <p><%= @remain_capacity %> places restantes</p>
        <% else %>
          <%= link_to "Acheter", creek_tickets_path(@creek), method: :post, class: "btn btn-primary", disabled: true %>
          <p>Il n'y a pas de places pour ce show</p>
        <% end %>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-between mt-2 mb-5 p-2">
      <%= render "infos" %>
    </div>
  <% end %>

  <div class="p-4 card card-border mb-5">
    <h2>DESCRIPTION</h2>
    <p><%= @creek.description %></p>
  </div>
  <div class="text-center mb-4">
    <% if @creek.user == current_user %>
      <p>Clé de stream: <%= @creek.stream_name %></p>
      <%= link_to "Modifier ma creek", edit_creek_path(@creek), class: "btn btn-primary" %>
      <%= link_to "Supprimer ma creek",
              creek_path(@creek),
              method: :delete,
              data: { confirm: "Are you sure?" },
              class:"btn btn-danger mr-2" %>
    <% end %>
  </div>
</div>
