<div class="fix-nf container">
</div>
  <h1>Creeks#show</h1>
  <%= @creek.title %>
  <%= @creek.description %>
  <%= @creek.scheduledStartTime %>
  <%= @creek.price %>
  <%= @creek.capacity %>
  <%= @creek.user.username %>
  <% if @users.include?(current_user) || @creek.user == current_user %>
    <iframe width="848" height="480" src=<%= @embed_link %>  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <% else %>
    <%= link_to "Acheter", creek_tickets_path(@creek), method: :post %>
  <% end %>

</div>
