<h1>Creeks#show</h1>
<p>Find me in app/views/creeks/show.html.erb</p>

<%= @creek.title %>
<%= @creek.description %>
<%= @creek.scheduledStartTime %>
<%= @creek.price %>
<%= @creek.capacity %>
<%= @creek.user.username %>

<iframe width="848" height="480" src=<%= @embed_link %> frameborder="0" allow="accelerometer; autoplay=1; encrypted-media; modest-branding=1; gyroscope; picture-in-picture" allowfullscreen></iframe>

<%= link_to "Acheter", creek_tickets_path(@creek), method: :post %>

